<div class="panel panel-info">
    <div class="panel-heading text-center"><a href="">文章分类</a></div>
    <div class="panel-body text-center">
        {% for category in category_list %}
            <p><a href="/app01/{{ username }}/category/{{ category.pk }}">{{ category.name }}({{ category.num }})</a>
            </p>
        {% endfor %}
    </div>
</div>


<div class="panel panel-success">
    <div class="panel-heading text-center"><a href="">文章标签</a></div>
    <div class="panel-body text-center">
        {% for tag in tag_list %}
            <p><a href="/app01/{{ username }}/tag/{{ tag.pk }}">{{ tag.name }}({{ tag.num }})</a></p>
        {% endfor %}
    </div>
</div>


<div class="panel panel-warning">
    <div class="panel-heading text-center"><a href="">时间归档</a></div>
    <div class="panel-body text-center">
        {% for date in date_list %}
            <p>
                <a href="/app01/{{ username }}/archive/{{ date.month|date:'Y-m' }}/">{{ date.month|date:'Y年m月' }}({{ date.num }})</a>
            </p>
        {% endfor %}
    </div>
</div>
