<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2 class="text-center">登陆页面</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <div class="form-group">
                <label for="username">用户名:</label>
                <input class="form-control" id="username" type="text"
                       value="{{ request.COOKIES.username }}">
            </div>
            <div class="form-group">
                <label for="password">密码:</label>
                <input class="form-control" id="password" type="password"
                       value="{{ request.COOKIES.password }}">
                <a><span id="display_pwd" style="position: reLative;top: -24px;left: 340px"
                         class="glyphicon glyphicon-eye-close"></span></a>
            </div>
            <div class="form-group">
                <label for="password">验证码:</label>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" id="code" type="text">
                    </div>
                    <div class="col-md-6">
                        <img id="img_code" height="35" width="170" src="/app01/random_num/"
                             alt="">
                    </div>
                </div>
            </div>
            {% if request.COOKIES.username %}

            {% else %}
                <div class="form-group">
                    <label for="save_pwd">记住密码:</label>
                    <input id="save_pwd" class="form-control" type="text" placeholder="输入Yes记住密码"
                           onfocus="this.placeholder=''" onblur="this.placeholder='输入Yes记住密码'">
                </div>
            {% endif %}
            <br>

            <button class="Login btn btn-info btn-block">登录</button>
        </div>
    </div>
</div>
</body>
<script>
    {#验证码刷新#}
    $("#img_code").on('click', function () {
        let sRc = $('#img_code').attr('src')
        $(this).attr('src', sRc + '?')
    })


    {#密码隐藏显示#}
    $('#display_pwd').on('click', function () {
        let type = $('#password').attr('type')
        if (type === 'password') {
            $('#password').attr('type', 'text')
            $(this).attr('class', 'glyphicon glyphicon-eye-open')
        } else {
            $('#password').attr('type', 'password')
            $(this).attr('class', 'glyphicon glyphicon-eye-close')
        }
    })

    {#登陆事件#}
    $('.Login').on('click', function () {
        $.ajax({
            url: '{% url 'login_view' %}',
            type: 'post',
            data: {
                'username': $('#username').val(),
                'password': $('#password').val(),
                'code': $('#code').val(),
                'save_pwd': $('#save_pwd').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (data) {
                if (data.code === 100) {
                    alert(data.msg)
                    window.location.href = data.url
                } else {
                    alert(data.msg)
                    let sRc = $('#img_code').attr('src')
                    $('#img_code').attr('src', sRc + '?')
                }
            }
        })
    })
</script>
</html>