{% extends 'backend/backend.html' %}

{% block article %}
    <h3 class="text-center">修改头像</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><label for="old_avatar">原头像:</label></p>
        <img height="100" style="border-radius: 50%" id="old_avatar" src="/app01/media/{{ request.user.avatar }}/"
             alt="">

        <p><label for="new_file">新头像:
            <img style="border-radius: 50%; margin-left: -50px;margin-top: 140px" height="100"
                 id="new_img" src="/static/image/def.jpg" alt="">
        </label>
        </p>
        <input name="avatar" id="new_file" type="file" style="display: none">
        <br>
        <br>

        <input type="submit" value="保存" class="btn btn-success" style="width: 200px">
    </form>
{% endblock %}

{% block js %}
    <script>
        $('#new_file').change(function () {
            let fileReaderObj = new FileReader()
            let fileObj = $("#new_file")[0].files[0]
            fileReaderObj.readAsDataURL(fileObj)
            fileReaderObj.onload = function () {
                $('#new_img').attr('src', fileReaderObj.result)
            }
        })
    </script>
{% endblock %}